.wrapper {
	padding: 50px 0;
	@media (max-width: 1080px) {
		padding-top: 0 !important;
	}
}

.title {
	text-align: left;
	font-weight: 700;
}
ul {
	list-style: none;
	padding-left: 0;
	margin-top: 40px;
}
.mailItem {
	
	width: 100%;
	background-color: rgba(0, 0, 0, 0.04);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
	margin-bottom: 10px;
	cursor: pointer;
	.content {
		overflow:hidden;
		line-height: 1.4rem;
		max-height: 8rem;
		-webkit-box-orient: vertical;
		display: block;
		display: -webkit-box;
		overflow: hidden !important;
		text-overflow: ellipsis;
		-webkit-line-clamp: 3;
	}
}
.mailItemHeader {
	display: flex;
	justify-content: space-between;
}
.username {
	display: flex;
	align-items: center;
	h4, p {
		margin: 0;
		padding: 0;
	}
	h4 {
		font-size: 18px;
		line-height: 20px;
		font-weight: 600;
	}
	p {
		font-size: 12px;
		line-height: 24px;
		padding-left: 8px;
	}
}
.address {
	font-size: 12px;
	padding: 10px 0 0;
	color: #838383;
	text-align: left;
}
.content {
	font-size: 14px;
	text-align: left;
}
.status {
	span{
		background-color: red;
		color: #fff;
		border-radius: 20px;
		padding: 4px 6px;
		font-size: 12px;
	}
}
.btnDel {
	font-size: 20px;
	cursor: pointer;
}

.mailItemModalHeader {
	display: flex;
	justify-content:space-between;
}


.mailItemModalBody {
	height: 360px;
	font-size: 14px;
	line-height: 18px;
	text-align: justify;
	overflow-x: scroll;
}